*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    font-size: 16px;
}
.container{
    width: 92%;
    margin: auto;
}
a{
    text-decoration: none;
}
/* HEADER */
.header__top{
    letter-spacing: 1px;
    padding: 8px 0;
    background-color: #000;
}
.header__top .container{
    display: flex;
    justify-content: space-between;
}
.header__top a{
    color: white;
    font-size: 12px;
    line-height: 20px;
}
.header__left a{
    margin-right: 40px;
}
.header__left{
    display: flex;
    justify-content: space-between;
}
.header__left i{
    margin-right: 5px;
}
.header__left #phone span:first-of-type{
    padding-right: 5px;
}
.header__left #phone span:last-of-type{
    border-left: 1px solid gray;
    padding-left: 8px;
}
.header__right a:first-of-type{
    margin-right: 10px;
}
.header__right i{
    margin-right: 5px;
    font-size: 16px;
}
.header__right span:first-of-type{
    padding-right: 5px;
}
.header__right span:last-of-type{
    border-left: 1px solid gray;
    padding-left: 8px;
    opacity: 0.5;
}
.header__bottom{
    background-color: #fff;
    padding: 16px 0; 
}
.header__bottom .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__bottom nav li{
    list-style: none;   
    display: inline;
    padding: 29px 20px;
}
.header__bottom nav a{
    color: #494949;
    line-height: 26px;  
}
.header__bottom nav i{
    color: #858585;
    font-size: 20px;
}